body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 15%;
  background-color: #fff;
}

img {
  width: 272px;
  height: auto;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 50%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 24px;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

button {
  margin: 20px 5px 0 5px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #c6c6c6;
}
